html {
    -webkit-text-size-adjust: none;
}

.fg-default {
    color: black;
}

.fg-default-reversed {
    color: white;
}

.fg-black {
    color: black;
}

.fg-red {
    color: red;
}

.fg-green {
    color: green;
}

.fg-yellow {
    color: yellow;
}

.fg-blue {
    color: blue;
}

.fg-magenta {
    color: magenta;
}

.fg-cyan {
    color: cyan;
}

.fg-white {
    color: white;
}

.bg-default {
    background: white;
}

.bg-default-reversed {
    background: black;
}

.bg-black {
    background: black;
}

.bg-red {
    background: red;
}

.bg-green {
    background: green;
}

.bg-yellow {
    background: yellow;
}

.bg-blue {
    background: blue;
}

.bg-magenta {
    background: magenta;
}

.bg-cyan {
    background: cyan;
}

.bg-white {
    background: white;
}

body {
    font-family: palatino, georgia, verdana, arial, sans-serif;
    font-size: 11pt;
    line-height: 14pt;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
    overflow: scroll;
    overflow-x: hidden;
}

#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    background: #DDD;
    border-bottom: 10px solid white;
}

#colbanner {
  position: relative;
  height: 100%;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-device-width: 480px) {

    #banner {
        width: 320px;
    }

    #colbanner {
        width: 320px;
    }

    #gametitle {
        text-align: left;
        padding-left: 10px;
    }

    #inlinks {
        display: none;
    }
}

#gametitle {
  color: #006;
  font-size: 16pt;
  padding-top: 16px;
}

#outlinks {
  position: absolute;
  top: 10px;
  right: 20px;
  text-align: right;
}

#inlinks {
  position: absolute;
  top: 10px;
  left: 20px;
  text-align: left;
}

.HeaderTab {
  color: #777;
  font-size: 8pt;
  line-height: 11pt;
}

.HeaderTab a {
  color: #66C;
}

.buffered-window {
    text-align: center;
    margin: 0 auto;
    font-family: monaco, andale mono, lucidatypewriter, courier, courier new, monospace;
    font-size: 10pt;
    top: 70px;
    left: 0px;
    position: fixed;
    z-index: 0;
}

#about {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding: 50px;
    text-align: center;
    color: gray;
    font-size: 18pt;
}

#top-window {
    z-index: 1;
}

#content {
    text-align: left;
    margin: 0 auto;
    margin-top: 70px;
}

/* A generic line input editor */
.LineInput
{
	display: inline-block;
}

.LineInput input
{
    border: none;
    margin: 0px;
    padding: 0px;
    outline-width: 0px;
    outline-style: none;
    font-family: palatino, georgia, verdana, arial, sans-serif;
    color: #070;
    font-size: 12pt;
}

.finished-input {
    color: #070;
    font-size: 12pt;
}

/* A generic character input */
.CharInput
{
	left: -99em;
	position: absolute;
}

.z-roman {
}

.z-bold {
    font-weight: bold;
}

.z-italic {
    font-style: italic;
}

.z-fixed-pitch {
    font-family: monaco, andale mono, lucidatypewriter, courier, courier new, monospace;
    white-space: pre;
    font-size: 10pt;
}

.z-breaking-whitespace {
    white-space: normal;
}

#top-window .z-bold {
    text-decoration: underline;
    font-variant: normal;
}

.error {
    background: red;
    color: white;
    padding: 10px;
    margin: 10px;
}

#progress-text {
    font-size: 10pt;
}
