html {
  -webkit-text-size-adjust: none;
  overflow: hidden;
}

body {
  font-family: palatino, georgia, verdana, arial, sans-serif;
  font-size: 11pt;
  line-height: 14pt;
}

#column {
  position: absolute;
  top: 80px;
  bottom: 0px;
  width: 100%;
}

#subcolumn {
  position: relative;
  height: 100%;
  width: 600px;
  margin: 0px auto;
}

#about {
  color: gray;
  margin-top: 16pt;
  font-size: 16pt;
}

#parchment {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  overflow: scroll;   /* vertical scrollbar is mandatory */
  overflow-x: hidden; /* but horizontal scrollbar is forbidden */
}

.TextGrid {
  font-family: monaco, andale mono, lucidatypewriter, courier, courier new, monospace;
  font-size: 10pt;
  line-height: 12pt;
}

.box {
  font-family: monaco, andale mono, lucidatypewriter, courier, courier new, monospace;
  font-size: 10pt;
  line-height: 12pt;
}

.Reverse {
  color: white;
  background-color: #444;
}

tt {
  font-family: inherit;
  line-height: inherit;
}

.TextInput {
  margin: 0px;
  margin-bottom: 1em;
  color: green;
}

.FinishedInput {
  color: green;
}

@media screen and (max-device-width: 480px) {
  #subcolumn {
    width: 320px;
  }
}
